.element__garbage{
  background-image: url(./../../../images/logo/Trash.svg);
width: 18px;
height: 19px;
border: 0;
position: absolute;
top:20px;
right: 20px;
padding: 0;
background-color: transparent;
display: block;
}

