.profile__subtitle{
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: 0.6px;
}

@media (max-width: 720px){
  .profile__subtitle{
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (720 - 320)));
    line-height: 17px;
    text-align: center;
  }
}
@media (max-width: 320px){
  .profile__subtitle{
   grid-column-start: 3;
   grid-column-end: -3;
  }
}
