.auth__submit {
    cursor: pointer;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 58%;
    min-height: 50px;
    border-radius: 2px;
    border: 0;
  }
  .auth__submit:hover{
    opacity: 0.8;
    }